<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <style>
          html, body {
            width: 500px;
          }
        </style>
    </head>
    <body>
      <h1 class="text-center font-bold m-4">Household Spending</h1>
      <%- body %>
      
      <hr/>
      <footer class="float-right text-xs m-2">Created by Calvin</footer>
    </body>
</html>